
/* proprietà della pagina html */




/* proprietà dell'header */

.logo-size{
    width: 150px;
    height: auto;
    padding-top: 50px;
}

.image{
    background-image: url('../img/pattern.png');
    background-size:contain;
    height:100px;
}


header{
    background-color: #43a0ff;
    
}

/* proprietà di testi */

h4 a{
    color: #3fb5e8;
    text-decoration: none;
    font-weight: bold;
}

.text{
    color: rgb(113, 112, 112)
}

/* parti evidenziate */

.importante{
    background-color: yellow;
}

/* proprietà tabella */

table{
    border-collapse:collapse;
    text-align: left;
    width: 100%;
}

th{
    width: 200px;
    color: white;
    background-color: #3fb5e8;
}

tr:nth-child(even){
    background-color: #b1e5f2;
}

/* proprietà testo footer */



